<style>
        table {
            border-collapse: collapse;
            width: 95%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
<body>
<!--============== Dashboard Start ==============-->
<div class="full-row p-3">
    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-auto">
                <h5 class="mb-0 color-dark">Amenities</h5>
            </div>
            <div class="col-auto ms-auto">
                <a href="addamenities" class="btn btn-primary">
                    Add Amenities
                </a>
            </div>
        </div>

<form id="searchForm" class="d-flex mb-3" role="search">
    <input class="form-control me-2" type="search" id="searchInput" placeholder="Search..." aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
<tbody id="paginated-container">
    <% myamenities.forEach((amenity, index) => { %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= amenity.amenities %></td>
            <td class="d-flex gap-5 justify-content-center">
                <a href="/editamenities/<%= amenity._id %>">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#amenitiesDeleteModal-<%= amenity._id %>">
                    <i class="fa-solid fa-trash text-danger"></i>
                </a>
            </td>
        </tr>

        <div class="modal fade" id="amenitiesDeleteModal-<%= amenity._id %>" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-3 rounded">
              <div class="modal-body">
                <h5 class="mb-3">Are you sure you want to Delete "<%= amenity.amenities %>"?</h5>
                <div class="d-flex justify-content-center gap-3">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="/deleteamenities/<%= amenity._id %>" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% }); %>
</tbody>
</table>
</div>
<%- include('../partials/pagination') %>