<style>
        table {
            border-collapse: collapse;
            width: 95%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
<body>
<!--============== Dashboard Start ==============-->
                <div class="page-title-wrapper d-lg-flex flex-column gap-3 p-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="/admin"> Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/leads">Leads</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Open-Leads</li>
                                </ol>
                            </nav>
                    <h1 class="page-title">Open Leads</h1>
                </div>

<div class="full-row p-3">
    <div class="container-fluid">

<form id="searchForm" class="d-flex mb-3" role="search">
    <input class="form-control me-2" type="search" id="searchInput" placeholder="Search..." aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
    </div>
</div>
<div class="table-responsive">
<table>
     <thead>
          <tr>
         <th>S.No</th>
         <th>Name</th>
         <th>Type</th>
         <th>Location</th>
         <th>Date</th>
         <th>Assigned To</th>
         <th>Action</th>
         </tr>
    </thead>
    <tbody id="paginated-container">
    <% let count = 0; %>
    <% mycalls.forEach((call) => { %>
        <% if (call.leadStatus === "open") { count++; %>
        <tr>
            <td><%= count %></td>
            <td><%= call.name %></td>
            <td><%= call.type %></td>
            <td><%= call.location %></td>
            <td><%= call.createdAt.toLocaleDateString('en-IN', { 
              day: '2-digit', 
              month: 'short', 
              year: 'numeric' 
            }) %></td>
            <td><%= call.assignedAgent || "admin"%></td>
            <td class="d-flex gap-2 justify-content-center">
                <a href="/editlead/<%= call._id %>" class="btn btn-primary btn-sm flex-fill">Select</a>
            </td>
        </tr>
         <%}%>
    <% }); %>
</tbody>
</table>
</div>
<%- include('../partials/pagination') %>
