<div class="left-sidebar-block bg-dark p-0">
    <a href="/admin" class="dashboard-logo text-decoration-none">
       <h4 class="logo">Admin Panel</h4>
    </a>
    <nav class="dashboard-nav nav-light pb-3" id="navbarSupportedContent">
        <ul class="navbar-nav left-collaps-nav">
            <h5 class="dashboard-nav-title">Overview</h5>
            <li class="nav-item <%= currentPath === '/admin' ? 'active' : '' %>"><a class="nav-link" href="/admin"><i class="fa-solid fa-layer-group"></i> Dashboard</a></li>
            
            <h5 class="dashboard-nav-title">Manage Listing</h5>
            <li class="nav-item db-dropdown <%= currentPath.startsWith('/properties') ? 'active' : '' %>">
                <a class="nav-link" href="/properties"><i class="fa-solid fa-house"></i> My Properties</a>
            </li>
            <li class="nav-item <%= currentPath.startsWith('/locations') ? 'active' : '' %>"><a class="nav-link" href="/locations"><i class="fa-solid fa-heart"></i> Locations</a></li>
            <li class="nav-item <%= currentPath.startsWith('/agents') ? 'active' : '' %>"><a class="nav-link" href="/agents"><i class="fa-solid fa-user"></i> Agents</a></li>
            <li class="nav-item <%= currentPath.startsWith('/leads') ? 'active' : '' %>"><a class="nav-link" href="/leads"><i class="fa-solid fa-star"></i> Leads</a></li>
            <li class="nav-item <%= currentPath.startsWith('/amenities') ? 'active' : '' %>"><a class="nav-link" href="/amenities"><i class="fa-solid fa-paper-plane"></i> Amenities</a></li>
            <li class="nav-item <%= currentPath.startsWith('/banks') ? 'active' : '' %>"><a class="nav-link" href="/banks"><i class="fa-solid fa-star"></i> Banks</a></li>
            <li class="nav-item <%= currentPath.startsWith('/appointments') ? 'active' : '' %>"><a class="nav-link" href="/appointments"><i class="fa-solid fa-star"></i> Appointments</a></li>
            <li class="nav-item <%= currentPath.startsWith('/customers') ? 'active' : '' %>"><a class="nav-link" href="/customers"><i class="fa-solid fa-user"></i> Customers</a></li>
            
            <h5 class="dashboard-nav-title">Account Settings</h5>
            <li class="nav-item"><a class="nav-link" href="/#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
        </ul>
    </nav>
</div>
