<style>
.property-img {
  width: 100%;
  height: 180px;
  object-fit:cover;
}
</style>

<div class="full-row p-3 bg-light-gray">
    <div class="full-row inner-page-banner pb-0 pt-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 bg-transparent p-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/browse">Browse</a></li>
                            </ol>
                        </nav>
                        <h1 class="page-title">Browse Properties</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="listing-filter-bar">
                <div class="result-wrapper pt-1">
                    <span class="ordering-pages ps-2 ms-1">Showing <%= myproperties.filter(p => p.listingStatus === "published").length %> results
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4">
        <% if (myproperties && myproperties.length > 0) { %>
        <% let publishedProperties=myproperties.filter(p=>p.listingStatus==="published"); %>
           <% if (publishedProperties.length > 0) { %>
                <% publishedProperties.forEach(function(property) { %>  
                  <div class="col-lg-4 col-md-6 col-12 shadow p-0 card">
                    <div class="property-grid-2 property-block h-100">
                        <div class="entry-wrapper">
                            <div class="entry-thumbnail max-height-180px">
                                <div class="type">
                                    <% if (property.propertyStatus === 'Sale') { %>
                                        <span class="sale text-white">For Sale</span>
                                    <% } else { %>
                                        <span class="rent text-white">For Rent</span>
                                    <% } %>
                                </div>
                                <div class="post-date">
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span><%= property.createdAt ? property.createdAt.toDateString() : '' %></span>
                                </div>
                                <a href="/property/<%= property._id %>" class="entry-thumbnail-image property-img">
                                    <img src="<%= property.mainImage || '/assets/images/landing_bg.png' %>" alt="Property Image"class="img-fluid property-img" >
                                </a>
                                </div>

                            <div class="entry-content-wrapper p-2">
                                <div class="entry-header">
                                    <div class="post-meta">
                                        <div class="property-type"><a href="#"><%= property.propertyType %></a></div>
                                    </div>
                                    <h5 class="listing-title">
                                        <a href="/property/<%= property._id %>"><%= property.propertyName %></a>
                                    </h5>
                                    <span class="listing-location">
                                        <i class="fas fa-map-marker-alt"></i> <%= property.location %>
                                    </span>
                                </div>
                                <div class="entry-content">
                                    <ul class="property-info">
                                        <li title="Beds"><span><i class="fa-solid fa-bed"></i></span><%= property.additionalInfo %></li>
                                        <li title="Area"><span><i class="fa-solid fa-vector-square"></i></span><%= property.areaSquareFeetFrom %> Sqft</li>
                                    </ul>
                                </div>
                                <div class="entry-footer">
                                    <span class="listing-price">
                                        ₹<%= property.priceFromInNumber %>
                                        <% if (property.status === 'For Rent') { %>
                                            <small> / mo</small>
                                        <% } else { %>
                                            <small> / Fixed</small>
                                        <% } %>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p class="text-center">No properties found.</p>
        <% } %>
        <%}else{%>
            <p class="text-center">No properties found.</p>
        <% } %>
    </div>
</div>
